
/*HTML*/
body{
    font-family: "Montserrat", Sans-serif;
    background-color: rgb(26, 24, 24);
    margin: 0;
    color: white;
    overflow-x:auto;
    max-width: 1100px;
    max-width: fit-content;
}


header{
    display: flex;
    justify-content: space-around;
    
}

h1{
    
    font-size: 50px;
    color: aqua;
    align-self: center;
    margin-bottom: 80px;
}


.element-banner{
    width: fit-content;
    height: 400px;
    display: flex;
    
    
}
/*SECTION 1*/
#section1-banner{
    width: 30%;
    height: 400px;
    padding-left: 11%;
    padding-right: 2%;
}

.element-banner h2{
    color: #FFFFFF;
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
}


.element-banner P{
    color: rgb(151, 151, 151);
}

/*SECTION 2*/
#section2-banner{
    width: 50%;
    height: 400px;
    padding-right: 5%;
    padding-left: 2%;
}

#video{
    border-radius: 8px;
    
}

a{
    display: flex;
    align-self: center;
}

#button{
    display: flex;
    justify-content: space-around;
}

.button{
    width: 350px;
    height: 50px;
    display: flex;
    text-align: center;
    border-radius: 8PX;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: #04bcd4;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 80px;
}




#wrapper-1{
    width: 100%;
    height: auto;
    background-color: #04bcd4;
    align-items: center;
    padding: 2% 3%;
    
}

       

#wrapper-1 h2{
    font-size: 3.2em;
    font-weight: 600;
    color: rgb(26, 24, 24);
    margin: 0%;
    text-align: center;
}

#wrapper-1 h4{
    font-size: 2em;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0%;
    text-align: center;
}    

#wrapper-2{
    display: flex;
    width: 100%;
    height:100% ;
    margin-top: 8%;
    justify-content: center;
    background-repeat: no-repeat;
}

img{
    width: 55%;
    border-radius: 6px;
    position: relative;
}

#hist{
    width: 350px;
    height: 250px;
    position: absolute;
    align-self:auto;
    text-align: center;
    background-color:  rgba(0,0,0,0.5);
    padding: 3%;
    font-size: large;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 8% 15px 30px  20%;
}

